#rede_sociais {
	width:80%;
	height:280px; 
	margin:0px 0px 0px 10%;
} 
#rede_sociais table{
	width:auto;
	height:280px; 
	margin:0px 0px 0px 40%;
}

#rede_sociais2 {
	width:80%;
	height:auto; 
	margin:0px 0px 0px 5%;
}  